hostname {{ hostname }}
enable secret {{ enable_secret }}
no ip domain-lookup
line console 0
  password {{ console_password }}
  login
line vty 0 4
  password {{ vty_password }}
  login
  transport input ssh
ip domain-name {{ domain_name }}
crypto key generate rsa
username {{ username }} privilege 15 secret {{ user_secret }}